<section>
    <h2>Forget Password</h2>
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>
    <form action="/user/forgot-password" method="post">
        <input type="email" name="email" placeholder="Email" required><br><br>
        <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">
        <button type="submit">Forget Password</button>
    </form>
   
    <p><strong>Don't have an account?</strong> <a href="/user/signup"><strong>Sign up</strong></a></p>
    <p><strong>Already have an account?</strong> <a href="/user/signin"><strong>Sign in</strong></a></p>
</section>

<script src="https://www.google.com/recaptcha/api.js?render=6LcIh9crAAAAADyL_GbY_ixtMi1nJwtl25tmHOox"></script>
<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('6LcIh9crAAAAADyL_GbY_ixtMi1nJwtl25tmHOox', {action: 'forgot_password'}).then(function(token) {
            document.getElementById('g-recaptcha-response').value = token;
        });
    });
</script>

